---
import DiscordUsernameButton from './DiscordUsernameButton.tsx'
import MaterialMailSharp from '~icons/material-symbols/mail-sharp'
import LinkedInIcon from '@/components/icons/linkedin.svg?react'
import GitHubIcon from '@/components/icons/github.svg?react'
import XIcon from '@/components/icons/x.svg?react'
import { cn } from '@/lib/utils'

// Footer links configuration
const footerLinks = {
  navigation: [
    {
      href: '#readme',
      label: 'README',
      classes:
        'text-foreground hover:text-link-primary-hover transition-colors text-xs uppercase border-y border-foreground py-2 w-full',
    },
    {
      href: '#projects',
      label: 'Projects',
      classes:
        'text-foreground hover:text-link-primary-hover transition-colors text-xs uppercase border-b border-foreground pb-2 w-full',
    },
    {
      href: '#footer',
      label: 'CONTACTME',
      classes:
        'text-foreground hover:text-link-primary-hover transition-colors text-xs uppercase border-b border-foreground pb-2 w-full',
    },
  ],
  social: [
    {
      href: 'https://x.com/luisfuturist',
      label: '@luisfuturist',
      target: '_blank',
      classes: 'text-foreground hover:text-link-primary-hover transition-colors flex gap-1 items-center',
      icon: XIcon,
    },
    {
      href: 'https://www.linkedin.com/in/luisfuturist',
      label: 'LinkedIn',
      target: '_blank',
      classes: 'text-foreground hover:text-link-primary-hover transition-colors flex gap-1 items-center',
      icon: LinkedInIcon,
    },
    {
      href: 'https://github.com/luisfuturist',
      label: 'GitHub',
      target: '_blank',
      classes: 'text-foreground hover:text-link-primary-hover transition-colors flex gap-1 items-center',
      icon: GitHubIcon,
    },
  ],
}
---

<footer
  id="footer"
  class="bg-background text-foreground px-12 md:px-24 pt-12 pb-20 md:pb-24 2xl:pb-12 aug-footer mb-8 flex flex-col"
  data-augmented-ui="bl-clip b-clip-x br-rect both"
>
  <!-- Main heading -->
  <div class="text-center mb-16">
    <svg class="w-fitbbox font-display hidden lg:block" aria-label="I will become—Luis Emidio">
      <text transform="translate(-1,0)">I am—Luis Emidio</text>
    </svg>
    <svg class="w-fitbbox font-display block lg:hidden leading-3" aria-hidden="true">
      <text transform="translate(-1,0)">I am</text>
    </svg>
    <svg class="w-fitbbox font-display block lg:hidden" aria-hidden="true">
      <text transform="translate(-1,-2)">—Luis Emidio</text>
    </svg>
  </div>

  <!-- Main content grid -->
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-16 mb-16 justify-between">
    <!-- Left side - Email subscription -->
    <div class="space-y-6">
      <p class="text-foreground text-sm max-w-md">
        We still live as standalone individuals, yet the future beckons us to connect. You'll find me on Discord or any
        social network mentioned here; I'll welcome your message with open code.
      </p>
    </div>

    <!-- Right side - Navigation links -->
    <div class="hidden sm:flex flex-col justify-end items-end mb-12">
      <div class="flex flex-col space-y-4 w-full xl:w-xs">
        {
          footerLinks.navigation.map((link) => (
            <a href={link.href} class={link.classes}>
              {link.label}
            </a>
          ))
        }
      </div>
    </div>
  </div>

  <!-- Bottom section -->
  <div class="grid grid-cols-1 2xl:grid-cols-2 gap-4 items-center mb-20 sm:mb-0">
    <!-- Get in touch section -->
    <div class="flex flex-col sm:flex-row justify-center 2xl:justify-start sm:items-center gap-4 sm:gap-8">
      <DiscordUsernameButton client:visible />

      <a
        href="mailto:luisfuturist@gmail.com"
        class="text-foreground hover:text-link-primary-hover text-2xl transition-colors flex gap-1 items-center"
      >
        <MaterialMailSharp className="size-6" />
        luisfuturist@gmail.com
      </a>
    </div>

    <div class="flex flex-col sm:flex-row justify-center 2xl:justify-end sm:items-center gap-4 sm:gap-8">
      {
        footerLinks.social.map((link) => {
          const IconComponent = link.icon
          return (
            <a
              href={link.href}
              target={link.target}
              class={cn(link.classes, 'fill-foreground hover:fill-link-primary-hover transition-colors')}
            >
              <IconComponent className="size-6" />
              <span class="text-2xl">{link.label}</span>
            </a>
          )
        })
      }
    </div>
  </div>

  <div class="flex sm:hidden flex-col justify-end items-end">
    <div class="flex flex-col space-y-4 w-full xl:w-xs">
      {
        footerLinks.navigation.map((link) => (
          <a href={link.href} class={link.classes}>
            {link.label}
          </a>
        ))
      }
    </div>
  </div>
</footer>

<style>
  .aug-footer {
    --aug-tr: var(--aug-size) !important;
    --aug-bl: var(--aug-size) !important;
    --aug-tl: var(--aug-size) !important;
    --aug-t: var(--aug-size) !important;
    --aug-b: var(--aug-size) !important;
    --aug-br: var(--aug-size) !important;
    --aug-border-all: 0px !important;
    --aug-inlay-all: 0px !important;
    --aug-border-bg: var(--background-secondary);
    --aug-inlay-bg: var(--background-secondary);
  }
</style>
