---
import "bootstrap-icons/font/bootstrap-icons.css";
import Toast from "../components/Toast";
import { getLocale } from "../../content/lib/state";
import { getThemeMeta } from "../../lib/design/theme/utils";

interface Props {
  title: string;
  description: string;
  keywords: string;
}

const lang = getLocale();
Astro.cookies.set("locale", lang);

const { title, description, keywords } = Astro.props;

const theme = Astro.locals.theme;
const { themeClass, colorScheme } = getThemeMeta(theme);
---

<!doctype html>
<html lang={lang} class={themeClass}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="generator" content={Astro.generator} />

    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <title>{title}</title>

    <link
      rel="icon"
      href={theme === "dark" ? "/fav.png" : "/fav-light.png"}
      id="fav-icon"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Michroma&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />

    <meta name="color-scheme" content={colorScheme} />
  </head>
  <body>
    <slot />

    <Toast client:idle />
  </body>
</html>

<style is:global>
  /* #region reset */

  * {
    font: inherit;
  }

  html,
  body {
    @apply transition-colors duration-500 overflow-hidden;
  }

  html {
    @apply font-sans bg-black;
  }

  /* #endregion */

  /* #region selection */

  *::selection {
    @apply bg-slate-950 text-slate-500;
  }

  /* #endregion */

  /* #region scrollbar */

  *::-webkit-scrollbar {
    @apply w-[6px] z-[-10];
  }

  *::-webkit-scrollbar-track {
    @apply bg-black dark:bg-azure-1;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-slate-950 rounded-full;
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-900 dark:bg-azure-5;
  }

  /* #endregion */

  /* #region Focus */

  /* *:focus {
    @apply focus:outline focus:outline-2 focus:outline-offset-[0.5em] focus:outline-azure-4 dark:focus:outline-azure-6 focus:rounded-lg;
  } */

  /* #endregion */

  /* #region Print */

  @page {
    size: auto;
    margin: 0mm;
  }

  @media print {
    .no-print {
      display: none !important;
    }
  }

  /* #endregion */

  /* #region animations */

  @keyframes fadeIn {
    100% {
      opacity: 1;
    }
  }

  .animate-fadein {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 300ms;
  }

  @keyframes slidedown {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .animate-slidedown {
    animation: slidedown 600ms ease forwards;
  }

  /* #endregion */
</style>
